<div id="invest-section" class="invest-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/mathieu-stern-1zO4O3Z0UJA-unsplash.png" alt="Investment Image"
                    class="img-investment">
            </div>
            <div class="col-md-6">
                <h2>Explore Investment Opportunities</h2>
                <p>
                    Investing is a powerful way to grow your wealth and achieve your financial goals. Our platform
                    offers access to a diverse range of investment opportunities. Whether you're interested in long-term
                    growth or
                    immediate returns, we provide the tools and resources you need to make informed decisions and build
                    a successful investment portfolio.
                </p>
                <p>
                    With our user-friendly interface and expert guidance, you can start investing with confidence,
                    knowing that your funds are being put to work in projects that align with your interests and values.
                    Join our community of investors today and take the first step towards financial freedom.
                </p>
                <button class="btn btn-primary" routerLink="/opportunities">Start Investing</button>
            </div>
        </div>
    </div>
</div>