<app-drop-down-menu></app-drop-down-menu>

<section class="about-us">
    <div class="image-container">
        <div class="intro-image">
            <div class="content">
                <h2 class="title">Be part of our journey</h2>

                <h5>Embark on the path of innovation and growth, </h5>
                <h5> where dreams become reality.</h5>
            </div>
        </div>
    </div>


    <div class="mission">
        <h2 class="mission-title">What Inspires Us Every Day?</h2>
        <p class="mission-text">
            At Startup Pulse, we are driven by the relentless pursuit of innovation and the desire to create a
            lasting impact on the world. Every day, we are inspired by the passion and dedication of
            entrepreneurs who dare to dream big and challenge the status quo. Our mission is to provide them
            with the support and resources they need to turn their ideas into reality and change the course of
            industries. We believe in the power of innovation that drives positive changes and transforms lives. This is
            the belief that motivates us to push the boundaries of what is possible, every single day.
        </p>

        <img class="logo" src="../../../assets/images/icon-no-background.png" alt="">
    </div>

    <div class="my-story">
        <div class="my-story-content">
            <h2 class="title">My Story - Ovidiu Radoi</h2>
            <p>Hey there! I'm Ovidiu, a software engineer with a strong passion for tech and innovation. I'm on a
                mission to make a difference and that's why I decided to create a Startup Investing Platform.</p>
            <p>My goal? To open doors for aspiring entrepreneurs and help their innovative ideas take flight. With this
                project, I'm not just building a platform, I'm building a community where collaboration and creativity
                thrive.</p>
            <p>If you're ready to join me on this exciting journey of growth and discovery, let's come together and
                create something amazing!</p>

        </div>
        <div class="image-container-story">
            <img src="../../../assets/images/pozaTIpBuletin.jpeg" alt="Your Image">
        </div>
    </div>



    <div class="contact-container-section">
        <h2 class="contact-title">Let's keep in touch!</h2>
        <div class="contact-info-container">
            <div class="social-media">
                <p>Follow us on social media:</p>
                <div class="social-container">
                    <a href="https://www.facebook.com/profile.php?id=61557434577171" class="social" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/startup_pulse1/" class="social" target="_blank"><i
                            class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/startuppulse1" class="social" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="contact-form">
                <p>Send us a message using the contact form:</p>
                <button routerLink="/help" class="btn btn-primary">Contact Form</button>
            </div>
            <div class="contact-data">
                <section class="contact">
                    <div class="contact-container">
                        <div class="contact-details">
                            <div class="contact-info">
                                <div class="contact-icon"><i class="fas fa-envelope"></i></div>
                                <div class="contact-text">
                                    <p><strong>Email:</strong></p>
                                    <p>support@pulse.com</p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="contact-icon"><i class="fas fa-phone"></i></div>
                                <div class="contact-text">
                                    <p><strong>Phone Number:</strong></p>
                                    <p>+40712322768</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

</section>