<div class="cont">
    <div class="row">
        <div class="col-lg-6">
            <div class="invest-section">
                <h2>Do you want to start investing?</h2>
                <p>Investing in promising projects can be a rewarding experience, both financially and personally. By
                    joining our platform, you'll have the opportunity to support innovative ideas and ambitious
                    entrepreneurs. Whether you're an experienced investor or just starting out, we provide the tools and
                    resources you need to make informed decisions and grow your portfolio.</p>

                <button class="btn btn-primary" (click)="scrollToSection('invest-section')">Learn More</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="promote-section">
                <h2>Do you want to promote your business?</h2>
                <p>Are you looking to expand your reach and attract new customers? Our platform offers an unique
                    opportunity to showcase your business and connect with a diverse audience of potential supporters.
                    From startups to established companies, we provide tailored solutions to help you raise awareness
                    and achieve your goals. Let us help you take your business to the next level.</p>

                <button class="btn btn-secondary" (click)="scrollToSection('promote-section')">Learn More</button>
            </div>
        </div>
    </div>
</div>