<div id="promote-section" class="promote-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2 promote-image">
                <img src="../../../assets/images/Default_bulb_1 (1).jpg" alt="Promotion Image" class="img-promoting">
            </div>
            <div class="col-md-6 order-md-1">
                <h2>Promote Your Business</h2>
                <p>
                    Promoting your business is essential for attracting customers and driving growth. Our platform
                    offers a range of marketing solutions designed to help you reach your target audience and increase
                    brand awareness. Whether you're launching a new product, expanding into new markets, or seeking
                    support for a creative project, our crowdfunding platform empowers you to connect with backers,
                    build momentum, and achieve your goals.
                </p>
                <p>
                    With our platform, you can create compelling campaigns that resonate with your audience and drive
                    results. We provide the tools and resources you need to launch successful crowdfunding campaigns,
                    engage with your community, and bring your business vision to life.
                </p>
                <button class="btn btn-primary" routerLink="/campaign">Start promoting</button>
            </div>
        </div>
    </div>
</div>