<div class="cont">
    <h1>How to get started</h1>
    <ol>
        <li style="--accent-color:#0D6EFD">
            <div class="icon"><i class="fa-regular fa-user"></i></div>
            <div class="title">Account</div>
            <div class="descr">Create an account on our platform to get started. </div>
        </li>
        <li style="--accent-color:#6710F5">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="title">Opportunity</div>
            <div class="descr">Explore the investment opportunities available on our platform. </div>
        </li>
        <li style="--accent-color:#6F42C1">
            <div class="icon"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="title">Promote</div>
            <div class="descr">Promote your business or project by creating a campaign.</div>
        </li>
        <li style="--accent-color:#D63384">
            <div class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></div>
            <div class="title">Invest</div>
            <div class="descr">Invest in a variety of projects and businesses that interest you.
            </div>
        </li>
        <li style="--accent-color:#DC3545">
            <div class="icon"><i class="fa-regular fa-address-book"></i></div>
            <div class="title">Portfolio</div>
            <div class="descr">Track your investments and campaigns inside your portfolio with ease.</div>
        </li>
    </ol>
</div>