<div class="context">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="resetPassword">
                    <h1>Reset Password</h1>

                    <div class="validation-message-password" *ngIf="errorMessage !== ''">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="newPassword?.invalid &&(newPassword?.dirty || newPassword?.touched)"
                        class="validation-message">
                        <div *ngIf="newPassword?.errors?.['required'] ||newPassword?.errors?.['notOnlyWhitespace']"
                            class="error">
                            New password is required
                        </div>
                        <div *ngIf="newPassword?.errors?.['minlength']" class="error">
                            New password must be at least 2 characters long
                        </div>

                    </div>
                    <input type="password" formControlName="newPassword" placeholder="Insert New Password" />

                    <div *ngIf="repeatedPassword?.invalid &&(repeatedPassword?.dirty || repeatedPassword?.touched)"
                        class="validation-message">
                        <div *ngIf="repeatedPassword?.errors?.['required'] ||repeatedPassword?.errors?.['notOnlyWhitespace']"
                            class="error">
                            Repeated password is required
                        </div>
                        <div *ngIf="repeatedPassword?.errors?.['minlength']" class="error">
                            Repeated password must be at leas t 2 characters long
                        </div>

                    </div>
                    <input type="password" formControlName="repeatedPassword" placeholder="Repeat New Password" />

                    <button>Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>